body{
    font-family: Arial, Helvetica, sans-serif;
}

.todoInput{
    padding: 10px;
    margin-bottom: 10px;
}
.todoInputDueDate{
    padding: 10px;
    margin-bottom: 10px;
}
.addButton{
    padding: 10px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    
}
.deleteButton{
    padding: 10px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
 }

.todoGrid{
    display: grid;
    grid-template-columns: 200px 128px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}